<h1 class="title">Stupid Coaching</h1>

<div class="card">
<h2><%= @question %> </h2>
<p>- You</p>
</div>

<div class="card">
<h2><%= @answer %> </h2>
<p>- Your coach</p>
</div>

<button class="btn btn-primary button" id="answer"><%= link_to "Say something else", ask_path %></button>
