<h1 class="title">Your stupid coach</h1>
<div class="form">
  <form action="answer" data-turbo="false">
    <input type="text" name="question">
    <input class="bt btn-primary button" type="submit" value="Ask!">
  </form>
</div>
<p>Ask your coach anything</p>
